.wrapper {
    background: #d6ccc6;
    width: 100%;
    text-align: center;
}

img {
    height: 20rem;
}

.duckcontainer{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 1rem 3rem
}