.wrapper {
    background: #d6ccc6;
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: auto;
}

.duckcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.description {
    width: 50%;
    margin-left: 2rem;
}
