.wrapper {
    padding: 1rem;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #684844;
}

.links {
    display: flex;
}

.activeLink,
.inactiveLink {
    padding: 0 2rem;
}

.activeLink {
    color: #5395ec;
}

.inactiveLink {
    color: white;
}
